<h2>MY BLOG</h2>

<div>
  <ul>
    <!-- displaying posts -->
    <% for(post of posts){ %>
    <li>
      <%= post.title %> <br />
      <%= post.createdAt.toLocaleDateString() %> <br />
      <%= post.description %> <br />
      <%= post.content %> <br />
      <%= post.user.name %>
    </li>

    <!-- post actions -->
    <!-- if user is logged in and is posts author -->
    <% if(locals.user && locals.user.id == post.user.id){ %>
    <a href="">Edit Post</a>
    <a href="">Delete Post</a>
    <% } %>
    <a href="/post/<%= post.id %>">View Post</a>
    <% } %>
  </ul>
</div>
